{name, "ktuo"}.
{description, "json encoder/decoder for Erlang"}.
{homepage, "https://github.com/erlware/ktuo"}.
{url, {git, "https://github.com/erlware/ktuo.git", {branch, "master"}}}.
{authors, ["Eric Merritt <ericbmerritt@gmail.com>"]}.
{license, "MIT", "COPYING"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
